
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'home-page'
    var class_page = 'home'
    var slider = [
      {
        img: 'infra/1.jpg',
        num: '01',
        text: 'Большой открытый бассейн с горками, детский бассейн, внутренний бассейн с подогревом'
      },
      {
        img: 'infra/2.jpg',
        num: '02',
        text: 'СПА: сауна и хамам, комнаты отдыха, тренажёрный зал'
      },
      {
        img: 'infra/3.jpg',
        num: '03',
        text: 'Барбекю, беседки для отдыха, детская игровая площадка'
      },
      {
        img: 'infra/4.jpg',
        num: '04',
        text: 'Лифт, открытая парковка, интернет Wi-Fi, видеонаблюдение 24/7'
      },
    ]
    var slider2 = [
      {
        img: 'flats/1.jpg',
        num: '01',
        text: 'Cтальные двери, домофон с видеосистемой\n'
      },
      {
        img: 'flats/2.jpg',
        num: '02',
        text: 'Подвесные потолки и точечное скрытое освещение'
      },
      {
        img: 'flats/3.jpg',
        num: '03',
        text: 'Моющаяся краска на стенах, пол - из гранита первого класса'
      },
      {
        img: 'flats/4.jpg',
        num: '04',
        text: 'ПВХ окна и двери на балкон с двойным остеклением и шумоизоляцией'
      },
      {
        img: 'flats/5.jpg',
        num: '05',
        text: 'Полностью укомплектованная ванная комната'
      },
      {
        img: 'flats/6.jpg',
        num: '06',
        text: 'Кухонный гарнитур\n'
      },
    ]
    var slider3 = [
      {
        img: 'renders/1.jpg',
      },
      {
        img: 'renders/2.jpg',
      },
      {
        img: 'renders/3.jpg',
      },
    ]

block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/loader.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/footer.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/map.js')
block content
  section.section-1.column
    img(src="assets/images/logo.svg" alt="img").logo
    .cormorat-36.section-1-text
      span.italic жилой комплекс
      span.normal  с отельной инфраструктурой
      span.italic  в центре
      span.italic  Алании
  section.section-2
    img(src="assets/images/renders/1.jpg" alt="img")
  section.section-3.section-top-offset.first-info-wrapper
    .col-50.description-left
      .title Hayat Dream Homes
      .cormorat-36.first-info-text
        span.normal  комфортабельный уютный
        span.italic   комплекс
        span.normal  , в котором есть все необходимое
        span.italic   для отдыха.
      .text Из больших окон квартир и балконов будет открываться замечательный вид на море, горы и город. Вся территория комплекса будет украшена красивым зеленым газоном и декоративными деревьями.
    .col-50.img-right
      img(src="assets/images/renders/2.jpg" alt="img")
      .title2 о нас
  section.section-4.section-top-offset.second-info-wrapper
    .col-50.img-left
      img(src="assets/images/renders/3.jpg" alt="img")
    .col-50.description-right
      .cormorat-36.first-info-text
        span.italic Преимущество
        span.normal  проекта – его
        span.italic  расположение:
        span.normal   район пляжа Клеопатра, в небольшой отдаленности от оживленных центральных улиц, но при этом
        span.italic  рядом со всеми удобствами
        span.normal  городской инфраструктуры.
      .text Эта часть города – очень спокойное и уютное место. Здесь достаточно тихо и комфортно для проживания, но в тоже время в пешей доступности от дома расположены многочисленные магазины, кафе и рестораны, есть медицинские учреждения, школы, базары, банки и многое другое для комфортной жизни.
  section.section-5.section-top-offset
    .title3.left-offset.bottom-offset Инфраструктура
    .main-swiper
      .swiper-wrapper
        each i in slider
          .swiper-slide
            +img(i.img)
            .row.slide-text
              span.num=i.num
              span.text=i.text
      .moving-arrow
        <svg class="arrow-style" width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="75" cy="75" r="74.5" stroke="white"/>
          <path d="M70.4027 66L70 66.3571L75.8197 75.0019L70 83.6429L70.4027 84L80 75.1429L80 74.7857L70.4027 66Z" fill="white"/>
        </svg>
  section.section-6.section-top-offset.first-info-wrapper
    .col-50.description-left
      .description-left-top
        .title Этапы сдачи проекта:
        .cormorat-36.second-info-text
          span.italic Первая очередь
          span.normal  (блоки А и В) сдаются
          span.italic  до 31.12.22
        .cormorat-36.second-info-text
          span.italic Вторая очередь
          span.normal  (блоки С и D) -
          span.italic  до 30.06.23
      .description-left-bottom
        .text Квартиры планировок 1+1, 2+1 и пентхаусы на верхних этажах 2+1 и 3+1. На этапе строительства есть возможность приобрести недвижимость в  0% рассрочку.
    .col-50.img-right
      img(src="assets/images/renders/4.jpg" alt="img")
    .title4 Этапы
  section.section-7.section-top-offset
    .title3.left-offset.bottom-offset Квартиры
    .main-swiper2
      .swiper-wrapper
        each i in slider2
          .swiper-slide
            +img(i.img)
            .row.slide-text
              span.num=i.num
              span.text=i.text
      .moving-arrow2
        <svg class="arrow-style2" width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="75" cy="75" r="74.5" stroke="white"/>
          <path d="M70.4027 66L70 66.3571L75.8197 75.0019L70 83.6429L70.4027 84L80 75.1429L80 74.7857L70.4027 66Z" fill="white"/>
        </svg>

  section.section-8.section-top-offset
    .title5.left-offset.bottom-offset Галерея
    .main-swiper3
      .swiper-wrapper
        each i in slider3
          .swiper-slide
            +img(i.img)
      .moving-arrow3
        <svg class="arrow-style2" width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="75" cy="75" r="74.5" stroke="white"/>
          <path d="M70.4027 66L70 66.3571L75.8197 75.0019L70 83.6429L70.4027 84L80 75.1429L80 74.7857L70.4027 66Z" fill="white"/>
        </svg>
    .title2 Галерея
  section.section-9.section-top-offset.second-info-wrapper
    .col-50.img-left
      img(src="assets/images/renders/5.jpg" alt="img")
    .col-50.description-right
      .cormorat-36.first-info-text
        span.italic Hayat Dream Homes -
        span.normal  комфортабельный уютный комплекс,
        span.italic  в котором есть все
        span.normal  необходимое для отдыха: море, солнце и красивая природа.
      .text Из больших окон квартир и балконов будет открываться замечательный вид на море, горы и город. Вся территория комплекса будет украшена красивым зеленым газоном и декоративными деревьями.
      a(href="").btn-style2
        span Выбрать квартиру
  section.section-10.section-top-offset
    .section-10-top
      .title5 Контакты
      .contacts-btn(data-call-form)
        p Cвязаться
        p с нами
    .section-10-bottom.first-info-wrapper
      .col-50.description-left
        .location
          .title3 Расположение:
          a(href="").text
            span Alanya, Mahmutlar Mahallesi, Barbaros Caddesi, No: 233С
          .column.table
            .text Пн-Сб: с 09:00 до 18:00
            .text Вс: выходной
        .mobile-column
          a(href="tel:+905072501073").title3.tell-btn
            span + 90-507-250-10-73
          a(href="mailto:info@hayatestate.com").title3.mail-btn
            span info@hayatestate.com
          .row.social-network
            a(href="")
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.59371 13.171L17.3747 20.8983C17.4763 20.9877 17.5994 21.0492 17.7319 21.0767C17.8644 21.1042 18.0018 21.0969 18.1306 21.0553C18.2594 21.0138 18.3752 20.9395 18.4666 20.8398C18.5581 20.74 18.6221 20.6182 18.6523 20.4863L22.3255 4.45771C22.3573 4.31913 22.3506 4.17451 22.3063 4.03943C22.2619 3.90435 22.1815 3.78394 22.0738 3.69118C21.966 3.59841 21.835 3.5368 21.6949 3.51299C21.5547 3.48918 21.4107 3.50407 21.2784 3.55605L3.25523 10.6366C3.09815 10.6983 2.96528 10.8092 2.8765 10.9527C2.78771 11.0962 2.74779 11.2646 2.7627 11.4327C2.77761 11.6008 2.84655 11.7596 2.95921 11.8853C3.07187 12.0109 3.22219 12.0967 3.38768 12.1298L8.59371 13.171Z" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8.59375 13.1712L21.886 3.57129" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12.9792 17.0301L9.92743 20.0819C9.81817 20.1911 9.67896 20.2655 9.52741 20.2957C9.37587 20.3258 9.21878 20.3104 9.07603 20.2512C8.93328 20.1921 8.81126 20.092 8.72542 19.9635C8.63957 19.835 8.59375 19.684 8.59375 19.5295V13.1709" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            a(href="")
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.5 16.4062C14.6574 16.4062 16.4062 14.6574 16.4062 12.5C16.4062 10.3426 14.6574 8.59375 12.5 8.59375C10.3426 8.59375 8.59375 10.3426 8.59375 12.5C8.59375 14.6574 10.3426 16.4062 12.5 16.4062Z" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.7969 3.51562H8.20312C5.61429 3.51562 3.51562 5.61429 3.51562 8.20312V16.7969C3.51562 19.3857 5.61429 21.4844 8.20312 21.4844H16.7969C19.3857 21.4844 21.4844 19.3857 21.4844 16.7969V8.20312C21.4844 5.61429 19.3857 3.51562 16.7969 3.51562Z" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M17.5781 8.20312C18.0096 8.20312 18.3594 7.85335 18.3594 7.42188C18.3594 6.9904 18.0096 6.64062 17.5781 6.64062C17.1467 6.64062 16.7969 6.9904 16.7969 7.42188C16.7969 7.85335 17.1467 8.20312 17.5781 8.20312Z" fill="#464646"/>
              </svg>
            a(href="")
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.9688 6.21647H18.4688V5.71647V2.48678V2.05086L18.0369 1.99145C17.6914 1.94391 16.5682 1.84375 15.2674 1.84375C13.8249 1.84375 12.5599 2.2996 11.6557 3.22069C10.7517 4.14152 10.2626 5.47183 10.2626 7.11634V9.46094H7.8125H7.3125V9.96094V13.5715V14.0715H7.8125H10.2626V22.6562V23.1562H10.7626H14.3797H14.8797V22.6562V14.0723H17.2105H17.6521L17.7067 13.6341L18.156 10.0235L18.2259 9.46178H17.6599H14.8788V7.47475C14.8792 6.97239 14.9533 6.68678 15.0892 6.52013C15.2058 6.37724 15.459 6.21647 16.1145 6.21647H17.9688Z" stroke="#464646"/>
              </svg>
            a(href="")
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.46939 17.857C2.16429 15.6569 1.70723 13.0561 2.18404 10.5428C2.66085 8.02962 4.03873 5.7769 6.05894 4.20769C8.07915 2.63849 10.6027 1.86075 13.1558 2.02051C15.7088 2.18027 18.1158 3.26655 19.9246 5.07537C21.7334 6.88418 22.8197 9.2911 22.9795 11.8442C23.1393 14.3972 22.3615 16.9208 20.7923 18.941C19.2231 20.9612 16.9704 22.3391 14.4572 22.816C11.944 23.2928 9.34314 22.8357 7.14305 21.5306L7.14308 21.5305L3.51506 22.5671C3.36496 22.61 3.20612 22.612 3.055 22.5728C2.90388 22.5336 2.76598 22.4548 2.6556 22.3444C2.54521 22.234 2.46635 22.0961 2.4272 21.945C2.38804 21.7939 2.39 21.635 2.43289 21.4849L3.46947 17.8569L3.46939 17.857Z" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.8549 17.9687C13.827 17.9702 12.809 17.7688 11.8592 17.3762C10.9093 16.9835 10.0463 16.4073 9.31948 15.6805C8.5927 14.9537 8.01647 14.0907 7.62382 13.1408C7.23116 12.191 7.0298 11.173 7.03126 10.1451C7.03358 9.42168 7.32277 8.72868 7.83538 8.21815C8.34798 7.70762 9.04216 7.42126 9.76563 7.42188C9.88429 7.42188 10.0008 7.45325 10.1035 7.51281C10.2061 7.57237 10.2912 7.658 10.3501 7.76103L11.4918 9.75901C11.5606 9.8795 11.5961 10.0162 11.5946 10.1549C11.5932 10.2937 11.5548 10.4296 11.4834 10.5486L10.5665 12.0767C11.0382 13.1236 11.8764 13.9618 12.9233 14.4335L14.4514 13.5167C14.5704 13.4453 14.7063 13.4068 14.8451 13.4054C14.9838 13.4039 15.1205 13.4394 15.241 13.5083L17.239 14.65C17.342 14.7088 17.4276 14.7939 17.4872 14.8965C17.5468 14.9992 17.5781 15.1157 17.5781 15.2344C17.5761 15.957 17.2888 16.6496 16.7789 17.1617C16.2689 17.6737 15.5775 17.9637 14.8549 17.9687Z" stroke="#464646" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

      .col-50.img-right
        .map(width="960px" height="540px")
          #map(width="960px" height="540px")

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
